$primary-color: #ffffff;
$secondary-color: #000000;

@font-face {
  font-family: 'Roboto Slab', serif;
}

section {
  padding: 10px 0;
  color: $primary-color;
  text-align: center;
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
    margin: 5% 10% 10%;

  }
}

a {
  text-decoration: none;
  color: $secondary-color;

  &:visited {
    text-decoration: none;
    color: $secondary-color;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5rem 0 0 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 3;
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);

  .logo {
    padding: 10px;
    color: $secondary-color;
    font-size: 1.5rem;
    &:visited {
      text-decoration: none;
      color: $secondary-color;
    }

    &:active {
      text-decoration: none;
      color: $secondary-color;
    }
  }

  .nav-toggle {
    display: block;
    border-radius: 5px;
    background-color: transparent;
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;

    &.open span:first-child {
      transform: rotate(45deg) translate(4.4px, 4.4px);
    }

    &.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    &.open span:last-child {
      transform: rotate(-45deg) translate(4.4px, -4.4px);
    }

    span {
      position: relative;
      right: 10px;
      display: block;
      height: 2px;
      width: 100%;
      margin-top: 4px;
      background-color: $secondary-color;
      transition: all .25s;
    }
  }

  &.hide-nav {
    transform: translateY(-120%) !important;
    -webkit-transform: translateY(-120%) !important;
  }

  ul {
    list-style-type: none;
    margin: 0;

    &.menu {

      display: block;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      z-index: 10;
    }

    &.menu.collapse {
      max-height: 15em !important;
    }
    li {
      padding: 10px;
      a {
        text-decoration: none;
        color: $secondary-color;

        &:visited {
          text-decoration: none;
          color: $secondary-color;
        }
        &:active {
          text-decoration: none;
          color: $secondary-color;
        }
      }
    }
  }
}

.logo {
  padding: 0;
}

.home {
  width: 100%;
  min-height: 100vh;
  max-height: 200vh;
  background-image: url(../img/coffee2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  .my-name {
    text-transform: uppercase;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    top: 350px;
  }
}

.about {
  width: 100%;
  min-height: 40vh;
  max-height: 360vh;
  background-image: url(../img/desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  p {
    font-size: 1.25rem;
    line-height: 110%;
    margin-bottom: 3%;
    margin-top: 3%;

  }

  .avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
  }
}

.skills {
  width: 100%;
  min-height: 40vh;
  max-height: 360vh;
  background-image: url(../img/desk5.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: inline-block;

      img {
        width: 5.5em;
        height: 5.5em;
        padding: 1rem 2rem;

        &:hover {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          transition: all 1s ease-in-out 0s;
        }
      }
    }
  }
}

.works {
  width: 100%;
  max-height: 200vh;
  min-height: 50vh;
  background-image: url(../img/desk5.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  .works-item {
    display: inline-block;
    width: 80%;
    overflow: hidden;
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: linear;
    margin: 1rem;
    max-height: 25%;

    img {
      width: 100%;
    }

    &:hover .overlay {
      transition: all 1s ease;
      opacity: 1;
    }

    .overlay {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      transition-duration: 150ms;
      transition-timing-function: linear;

      .links {
        position: absolute;
        z-index: 11;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        .link {
          background: $primary-color;
          display: inline-block;
          transition-duration: 250ms;
          transition-timing-function: linear;
          margin: 1rem;

          a {
            display: block;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            color: $secondary-color;
            padding: 1rem;

            &:hover {
              background-color: #c0c0c0;
            }
          }
        }
      }
    }
  }
}

.contact {
  width: 100%;
  min-height: 60vh;
  max-height: 200vh;
  background-image: url(../img/desk5.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  input {
    padding: 10px;
    border-radius: 3px;
    margin: 10px auto;
    color: $secondary-color;
    outline: none;
    width: 80%;
    max-width: 600px;
    display: block;
    border: 1px $secondary-color solid;
    font-size: 1.25rem;
  }

  textarea {
    padding: 10px;
    border-radius: 3px;
    margin: 10px auto;
    color: $secondary-color;
    outline: none;
    width: 80%;
    max-width: 600px;
    display: block;
    border: 1px $secondary-color solid;
    font-size: 1.25rem;
  }

  button {
    width: 150px;
    color: $secondary-color;
    padding: 5px;
    border-radius: 3px;
    background: #D6D6D6;
    border: 0;
    outline: none;
    display: block;
    margin: 10px auto;

    &:hover {
      background: #869791;
    }
  }

}

footer {

  background-image: url(../img/desk5.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  .row {

    p {
      text-align: center;
      margin: 0;
      font-family: 'Roboto Slab', sans-serif;
      font-size: 1rem;
      color: $secondary-color;
    }
  }
}

@media (min-width: 768px) and (max-width: 1048px) {

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
    margin-bottom: 10%;
    margin-top: 5%;
  }

  .home {
    .my-name {
      font-size: 3rem;
    }
  }

  .about {
    p {
      line-height: 150%;
      font-size: 1.5rem;
    }
  }
  nav {

    .nav-toggle {
      display: none;
    }
  }
  .works {

    .works-item {
      max-height: 100%;
    }
  }

}

@media(min-width: 1048px) {

  .home {
    .my-name {
      font-size: 4rem;
    }
  }

  .about {
    p {
      font-size: 2rem;
    }
  }

  .works {

    .works-item {
      max-height: 100%;
    }
  }
}

@media (max-width: 425px){
  .home{
    .my-name{
      top:150px;
    }
  }


}